@import 'Mycolor';

.cart-noti {
  display: flex;
  justify-content: center;
  font-size: 2rem;

  a {
    text-decoration: none;
    color: $link-color;
  }
}

.cart-title {
  text-align: center;
  color: $link-color;
  margin-bottom: 2rem;
}

.cart-screen {
  display: flex;
  .cart-item-table {
    flex: 60%;
    img {
      width: 3rem;
      border-radius: 30px;
    }
    i {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .cart-bill {
    flex: 30%;
    margin-left: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

//mobile
@media (max-width: 740px) {
  .cart-noti {
    font-size: 1rem;
  }
  .cart-screen {
    flex-direction: column;
    width: 100%;
    .cart-item-table {
      flex: 100%;
      width: 100%;
      overflow: scroll;
    }
    .cart-bill {
      width: 100%;
      flex: 100%;
      margin-left: 0;
    }
  }
}
