@import 'Mycolor';
#header {
  position: fixed;
  background-color: $background-color;
  width: 100%;
  padding: 0.4rem 4rem;
  z-index: 1;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: white;
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      display: inline-block;
      position: relative;
      line-height: 3rem;
      &:not(:first-child) {
        margin-left: 1rem;
      }
      &:hover > ul {
        display: block;
      }
      ul {
        position: absolute;
        display: none;
        margin: 0;
        background-color: $background-color;
        box-shadow: 5px 5px 8px #000;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        li {
          margin: 0 !important;
          line-height: 2rem;
          padding: 0 1rem;
          font-size: 1rem;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

// mobile
@media (max-width: 740px) {
  #header {
    padding: 0 0.5rem;
    font-size: 1rem;
    .search-group {
      display: none;
    }
  }
}
