@import '../scss//variables.scss';
.layout {
  .children {
    margin-top: $headerHeight;
    padding: 1rem 2rem;
    min-height: calc(100vh - $headerHeight - $footerHeight);
  }
}

//mobile
@media (max-width: 740px) {
  .layout {
    .children {
      padding: 1rem;
    }
  }
}
