.outStockBtn,
.addBtn {
  padding: 0.5rem 1rem;
  width: 9rem;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s;
  color: #fff;
  font-weight: bold;
}

.outStockBtn {
  background-color: red;
  opacity: 0.5;
}

.addBtn {
  background-color: orange;

  &:hover {
    background-color: orange;
    box-shadow: 8px 8px 8px #ccc;
    transform: scale(1.1);
  }
}
