.addBtn {
  width: 8rem;
  border: none;
}

.addBtn {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s;

  &:hover {
    background-color: orange;
    box-shadow: 8px 8px 8px #ccc;
    transform: scale(1.1);
  }
}
