@import 'Header';
@import 'Rating';
@import 'Product';
@import 'ProductScreen';
@import 'CartScreen';
@import 'Footer';
@import 'LoginScreen';
@import 'SignupScreen';
@import 'UserInfoScreen';
@import 'Mycolor';
* {
  font-family: 'Playfair Display', serif;
}

.layout {
  display: flex;
  flex-direction: column;

  .content {
    margin-top: 5rem;
    padding: 0 2rem;
  }
}
