.backToTopBtn {
  position: fixed;
  bottom: 10%;
  right: 5%;
  background-color: rgb(156, 156, 156);
  scale: 1.2;
  box-shadow: 5px 5px 5px #ccc;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  scale: 1.5;
  &:hover {
    opacity: 0.6;
  }
}
