@import './variables.scss';

.DataGrid-cell:focus-within {
  outline: none !important;
}

.cartNoti {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 15vh 0;
  @include breakpoint(md) {
    font-size: 1rem;
  }

  a {
    text-decoration: none;
    color: $link-color;
  }
}

.cartTitle {
  text-align: center;
  color: $link-color;
  margin-bottom: 2rem;
}

.cartScreen {
  display: flex;
  @include breakpoint(md) {
    flex-direction: column;
    width: 100%;
  }
  .cartItemTable {
    flex: 60%;
    @include breakpoint(md) {
      flex: 100%;
      width: 100%;
      overflow: scroll;
    }
    img {
      width: 3rem;
      border-radius: 30px;
    }
    i {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .cartBill {
    flex: 30%;
    margin-left: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    @include breakpoint(md) {
      width: 100%;
      flex: 100%;
      margin-left: 0;
    }
  }
}
