@import '../scss/variables.scss';
.footer {
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid rgb(224, 221, 221);
  width: 100%;
  background-color: #fff;

  a {
    margin: 0 0.3rem;
    color: rgb(96, 92, 92);

    &:hover {
      color: #ccc;
    }
  }
}
