@import '../scss/variables.scss';
.header {
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #ccc;
  height: $headerHeight;
  &__logo {
    text-transform: capitalize;
  }

  &__icon {
    color: black;
    font-size: 1.5rem;
    transition: 0.3s;
    margin: 0 0.3rem;
    &:hover {
      transform: scale(1.2);
    }
  }

  &__link {
    text-decoration: none;
    color: black;

    &:hover {
      color: black;
    }
  }
}
