@import '../scss/variables.scss';

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  height: 80px;
  padding: 0 2rem;
  border-bottom: 1px solid rgb(222, 219, 219);
  color: #000;
  position: sticky;
  top: 0;
  z-index: 999;

  div,
  nav {
    display: flex;
    align-items: center;
  }

  .navBtn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    font-size: 1.2rem;
  }
}

.headerIcon {
  color: #000;
  font-size: 1.2rem;
  margin-right: 1rem;
  transition: 0.3s;
  text-decoration: none;

  &:hover {
    color: #000;
    transform: scale(1.2);
  }
}

.link {
  color: black;
  text-decoration: none;

  &:hover {
    color: black;
  }
}

.logo {
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
  font-weight: 700;
  &:hover {
    color: #000;
  }
}

.webSearch {
  margin-right: 1rem;
}

nav {
  a {
    margin: 0 1rem;
    color: #000;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: #000;
      transform: scale(1.2);
    }
  }
}

@media only screen and (max-width: 1200px) {
  header .navBtn {
    visibility: visible;
    opacity: 1;
  }

  .webSearch {
    display: none;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #ccc;
    transition: 1s;
    transform: translateY(-100vh);
    z-index: 999;
    color: #fff;
  }

  header .responsiveHeader {
    transform: none;
  }

  .search {
    display: none;
  }

  nav .navBtnClose {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}
