@import '../scss/variables.scss';

.banner {
  position: relative;

  &__caption {
    position: absolute;
    left: 10%;
    bottom: 25%;
    width: 30%;
    text-align: start;
    &__text {
      color: #fff;
      &__f1 {
        font-size: 2.5rem;
      }
      &__f2 {
        font-size: 1.2rem;
      }
    }
  }
}
