@import '../scss/variables.scss';

.banner {
  position: relative;
}

.bannerCaption {
  position: absolute;
  left: 10%;
  bottom: 25%;
  width: 30%;
  text-align: start;
}

.captionF1 {
  color: #fff;
  font-size: 2rem;
}

.captionF2 {
  color: #fff;
  font-size: 1.2rem;
}
