@import '../scss/variables.scss';

.banner {
  position: relative;
}

.bannerCaption {
  position: absolute;
  left: 10%;
  top: 25%;
  width: 30%;
  text-align: start;
  @include breakpoint(md) {
    width: 100%;
  }

  a {
    text-decoration: none;
  }
}

.captionF1 {
  color: #fff;
  font-size: 2rem;
  @include breakpoint(md) {
    font-size: 1.2rem;
  }
}

.captionF2 {
  color: #fff;
  font-size: 1.2rem;
  @include breakpoint(md) {
    font-size: 1rem;
  }
}
