@import '../scss/variables.scss';
.layout {
  &__children {
    padding: 2rem;
    min-height: calc(100vh - $headerHeight - $footerHeight);
  }
}

//mobile
@media (max-width: 740px) {
  .layout {
    &__children {
      padding: 1rem;
    }
  }
}
