@import './variables.scss';

.product {
  &__image {
    position: relative;
    img {
      border-radius: 10px;
      width: 100%;
    }

    &__heart {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  &__body {
    padding: 1rem 0.5rem;
  }

  &__name {
    font-weight: bold;
    margin: 0;
    height: 3rem;
    text-transform: capitalize;
    font-size: 1.2rem;
  }

  &__price {
    font-weight: bold;
  }
}
