@import '../scss/variables.scss';

.productPage {
  padding: 1rem;
  display: flex;
  @include breakpoint(md) {
    flex-direction: column;
  }
  .productImage {
    flex: 30%;
    @include breakpoint(md) {
      flex: 100%;
    }
    img {
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 5px 5px 8px #ccc;
    }
  }

  .productInfo {
    flex: 60%;
    margin-left: 2rem;
    padding: 1rem;
    @include breakpoint(md) {
      flex: 100%;
      padding: 1rem 0 0 0;
      margin: 0;
    }
    .productDescr {
      border: 1px solid #ccc;
      border-radius: 10px;
      width: fit-content;
      padding: 0.5rem;
    }
  }
}
