@import './variables.scss';
.profilePage {
  width: 70%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 5px 5px 8px #ccc;

  &__title {
    text-align: center;
    color: $link-color;
  }

  .infoArea {
    width: 50%;
    margin: auto;

    .form-group {
      margin-top: 2rem;
      input {
        margin-top: 0.2rem;
      }
    }

    .logoutBtn,
    .updateBtn {
      margin-top: 1rem;
      width: 100%;
      font-weight: bold;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      padding: 0.5rem 0;
      border-radius: 10px;
      background-color: #fff;
      transition: 0.5s;
    }

    .logoutBtn {
      border: 1px solid red;
      color: red;

      &:hover {
        background-color: red;
        color: #fff;
      }
    }

    .updateBtn {
      border: 1px solid skyblue;
      color: rgb(31, 172, 227);

      &__icon {
        font-size: 1.2rem;
      }

      &:hover {
        background-color: skyblue;
        color: #fff;
      }
    }
  }
}

//mobile
@media (max-width: 740px) {
  .profilePage {
    width: 100%;
    border: none;
    padding: 0.5rem;
    .infoArea {
      width: 100%;
    }
  }
}
