@import './variables.scss';
.profilePage {
  width: 70%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 5px 5px 8px #ccc;

  &__title {
    text-align: center;
    color: $link-color;
  }

  .infoArea {
    width: 50%;
    margin: auto;

    .form-group {
      margin-top: 2rem;
      input {
        margin-top: 0.2rem;
      }
    }

    .logoutBtn,
    .updateBtn {
      margin-top: 1rem;
      width: 100%;
      color: #fff;
      font-weight: bold;
      border: none;
      padding: 0.5rem 0;
      border-radius: 10px;
      opacity: 0.3;
      &:hover {
        opacity: 1;
      }
    }

    .logoutBtn {
      background-color: red;
    }

    .updateBtn {
      background-color: rgb(12, 164, 247);
    }
  }
}

//mobile
@media (max-width: 740px) {
  .profilePage {
    width: 100%;
    border: none;
    padding: 0.5rem;
    .infoArea {
      width: 100%;
    }
  }
}
