.searchScreen {
  display: flex;

  &__leftSide {
    .optionGroup {
      padding: 0.2rem 0;
      ul {
        padding: 0;

        li {
          list-style-type: none;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.4rem 0;
        }
      }
    }
  }

  &__rightSide {
    width: 100%;
    height: 70vh;
    padding: 0 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
