.searchBox {
  display: flex;
  border: 2px solid #ccc;
  background-color: #fff;
  padding: 0.2rem 1rem;
  &__input {
    border: none;
    // color: #ccc;
    &:focus {
      outline: none;
    }
  }
  &__button {
    padding: 0;
    border: none;
    background-color: #fff;
  }
}
