.searchBox {
  display: flex;
  justify-content: space-between;
  border: 2px solid #ccc;
  background-color: #fff;
  width: 100%;
  min-width: 15rem;
  padding: 0.2rem 1rem;
  &__input {
    border: none;
    &:focus {
      outline: none;
    }
  }
  &__button {
    padding: 0;
    border: none;
    background-color: #fff;
  }
}
