@import './variables.scss';
.searchScreen {
  display: flex;
  padding: 2rem;

  @include breakpoint(sm) {
    flex-direction: column;
  }

  &__leftSide {
    @include breakpoint(sm) {
      display: flex;
      flex-wrap: wrap;
      overflow-x: scroll;
      gap: 10px;
    }
    .optionGroup {
      padding: 0.2rem 0;
      min-width: 6rem;
      @include breakpoint(sm) {
        flex: 20%;
      }
      ul {
        padding: 0;

        li {
          list-style-type: none;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.4rem 0;
        }
      }
    }
  }

  &__rightSide {
    width: 100%;
    height: 70vh;
    padding: 0 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.mobileSearch {
  width: 15rem;
  margin: 1rem 0;
  display: none;
  @include breakpoint(md) {
    display: flex;
  }
}
