$headerHeight: 4.5rem;
$footerHeight: 10rem;
$link-color: rgb(229, 107, 127);
$background-color: black;
$dark: rgb(29, 29, 29);
$light: #fff;
$spacing-md: 16px;
$spacing-lg: 32px;
$borderRadius: 12px;
$primary: rgb(162, 162, 246);
$bg: rgb(244, 244, 255);

@mixin breakpoint($point) {
  @if $point == sm {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $point == md {
    @media (max-width: 1200px) {
      @content;
    }
  }
}
